### Advanced preprocessing

In [ ]:
import pandas as pd

In [24]:
#A excel had two sheet "Attend" and "Name"
attend = pd.read_excel("serial_split.xlsx", sheet_name='Attend')
name = pd.read_excel("serial_split.xlsx", sheet_name='Name')
print('name had three columns, \nTeam is which team certain name belogs to, \nIndex is location person seat in sheet "Attend"')
print(name.head())
print('\nAttend is who had attend the class in certain week.\n1 means attend, 0 mean absence.')
print(attend.head())
print(f'First we want to get each team attendend rate by week.')
# print('\nWe want to preprocess the data to get a data with column ["Name","Week","Team"]')

name had three columns,
Team is which team certain name belogs to,
Index is location person seat in sheet "Attend"
  Team  Index             Name
0    A      0   Melody Daniels
1    A      1    Xander Gaines
2    A      2       Aya Coffey
3    A      3       Kody Crane
4    A      4  Della Armstrong

Attend who had attend the class in certain week.
  Team  Week1  Week2  Week3  Week4  Week5
0    A  11101  11101  11111  11101  11101
1    B  11001  11011  11111  11001  11001
2    C  11111  11011  11111  10111  11111
3    D  11101  11101  11101  11101  11101
4    E  10000  10000  10000  10000  10000

### get each team attendend rate by week.

In [91]:
#We want ro caculate the number of 1 inside each cell, we try to print column "week1"
print(f"In column 'week1' is \n{attend['Week1']}")

In column 'week1' is
0    11101
1    11001
2    11111
3    11101
4    10000
Name: Week1, dtype: int64

In [93]:
print('If we want to caculate the number of 1, we can use a for loop')
cnt=0
for i in str(attend['Week1'][0]):
    if i=='1': cnt+=1
print(cnt)

If we want to caculate the number of 1, we can use a for loop

4

In [101]:
#Or using list comprehension 
#Standard format: [x for x in list() if {x condition}]
data1 = [x for x in str(attend['Week1'][0])]
print(f"example: {data1}")
data2 = [x for x in str(attend['Week1'][0]) if x == '1']
print(f"now adding condition eaqual to 1 {data2}")
print(f'So length is {len(data2)}')

example: ['1', '1', '1', '0', '1']
now adding condition eaqual to 1 ['1', '1', '1', '1']
So length is 4

In [102]:
#Now we know how to translate the 5 digit to count, we'll copy the df first
attend2 = attend.copy()

attend2.head()

  Team  Week1  Week2  Week3  Week4  Week5
0    A  11101  11101  11111  11101  11101
1    B  11001  11011  11111  11001  11001
2    C  11111  11011  11111  10111  11111
3    D  11101  11101  11101  11101  11101
4    E  10000  10000  10000  10000  10000

In [121]:
# now we will iterate from index (x asix) and week1 to week5 (y axis), then count the number of 1 and update in new df
weeks = list(attend.columns[1:])
print(f"week list is {weeks}")

#Now go into for loop
for idx in range(len(attend)):
    for week in weeks:
        num_data = str(attend.loc[idx,week])
        attend2.loc[idx,week]=len([x for x in num_data if x=='1'])
print('\nAnswer is below:')
attend2

week list is ['Week1', 'Week2', 'Week3', 'Week4', 'Week5']

Answer is below:

  Team  Week1  Week2  Week3  Week4  Week5
0    A      4      4      5      4      4
1    B      3      4      5      3      3
2    C      5      4      5      4      5
3    D      4      4      4      4      4
4    E      1      1      1      1      1

In [127]:
#Or can use apply, in apply, you can through a row or column in assigned function and return data
def f(data):
    return len([x for x in str(data) if x=='1'])

attend3 = attend.copy()
for week in weeks:
    attend3[week] = attend[week].apply(f)
attend3

  Team  Week1  Week2  Week3  Week4  Week5
0    A      4      4      5      4      4
1    B      3      4      5      3      3
2    C      5      4      5      4      5
3    D      4      4      4      4      4
4    E      1      1      1      1      1