## Dataframe functions: Read file in folder, Read xlsx, Merge data

In [2]:
import pandas as pd

In [82]:
#merge data means you had two dataset with columns had same value that can form a correlation
id_df = pd.DataFrame({'id':[1,2,3,4,5],'fruit for sale':['Sell:apple','Sell:orange','Sell:banana','Sell:orange','Sell:apple']})
print(f'Assume you had a id list of some fruit: \n{id_df}')
price_df = pd.DataFrame({'id':[1,2,3,4,5],'price':[5,10,15,13,55]})
print(f'And price list of fruit: \n{price_df}')
#We can use merge to create connection on two list
merge_df = id_df.merge(price_df,left_on='id', right_on='id')
print(f'Data after merge: \n{merge_df}')

Assume you had a id list of some fruit:
   id fruit for sale
0   1     Sell:apple
1   2    Sell:orange
2   3    Sell:banana
3   4    Sell:orange
4   5     Sell:apple
And price list of fruit:
   id  price
0   1      5
1   2     10
2   3     15
3   4     13
4   5     55
Data after merge:
   id fruit for sale  price
0   1     Sell:apple      5
1   2    Sell:orange     10
2   3    Sell:banana     15
3   4    Sell:orange     13
4   5     Sell:apple     55

In [72]:
### Extract content from column
#You can see column 'fruit for sale' is not very clean, contains Sell: in front, so we can use split(':') to get only fruit name
#Below could both works
# merge_df['fruit']=merge_df['fruit for sale'].str.split(':').str[0]

merge_df['fruit']=[x.split(':')[0] for x in merge_df['fruit for sale']]
"""
Above is list comprehension
Same method as 
tmp = []
for x in merge_df['fruit for sale']:
    data = x.split(':')[0]
    tmp.append(data)
merge_df['fruit']=tmp
"""

In [39]:
#Now we had a purchase record on id, there will be duplicated id list
purchase = pd.DataFrame({'id':[1,2,5,4,2,3,1,5,4,2,3,1,5,4], 'purchase_qty':[1,2,3,4,5,6,7,8,9,10,11,12,13,14]})
#If you don't know the content you can use drop_duplicates
purchase['id'].drop_duplicates()

0    1
1    2
2    5
3    4
5    3
Name: id, dtype: int64

In [40]:
#And you can use sort_values to arrange data
purchase['id'].drop_duplicates().sort_values()

0    1
1    2
5    3
3    4
2    5
Name: id, dtype: int64

In [53]:
#Aggregate based on features min,max,sum,count
purchase_new = purchase.groupby(['id']).sum().reset_index()
purchase_new

   id  purchase_qty
0   1            20
1   2            17
2   3            17
3   4            27
4   5            24

In [54]:
report = price_df.merge(purchase_new)
report['Income']=report['price']*report['purchase_qty']
report

   id  price  purchase_qty  Income
0   1      5            20     100
1   2     10            17     170
2   3     15            17     255
3   4     13            27     351
4   5     55            24    1320